/* =========== applies to the complete page ================ */

body {
    margin: 0px;
    background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* ===================== styles for nav =============== */

#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: antiquewhite;
    height: 8vh;
    font-size: 20px;
    align-items: center;
}

#link {
    display: flex;
    width: 24%;
    justify-content: space-around;
}

#link a {
    text-decoration: none;
    color: grey;
}


#user-box{
    display: inline-block;
    height: 30px;
    width: 60px;
    background-color: white;
    padding-top: 10px;
    padding-left : 20px;
    margin: 4px;
    border-radius: 20px;
}

#search-bar {
    background-color: white;
    height: 60px;
    width: 80%;
    margin: auto ;
    margin-top: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-option{
    height: 60%;
    width: 15%;
    border-right: 2px solid lightslategrey;
}

#search-icon-box{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(228, 131, 131);
    color:white;
    text-align: center;
    border-radius: 20px;
}

.fa-search{
    vertical-align: -10px;
}

#guests-option{
    display: flex;
    justify-content: space-between;
}



@media only screen and (max-width: 576px) {
    .hide-on-phone{
        display: none;
    }
}


/* main screen background */

#main-screen{
    background-image: url("travel_image.jpg");
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}


#cta-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


#action-button{
    height: 48px;
    width: 136px;
    border: none;
    color: grey;
    font-weight: 700;
    border-radius: 24px;
    font-size: 1rem;
    cursor: pointer;
}